:root {
    --shadow-s:  0px 0px 6px rgba(107 ,114 ,128, 0.1);
    --shadow-m:  0px 0px 6px rgba(107 ,114 ,128, 0.2);
    --shadow-l:  0px 0px 6px rgba(107 ,114 ,128, 0.3);
    --shadow-x:  0px 0px 6px rgba(107 ,114 ,128, 0.4);
    --shadow-2x: 0px 0px 6px rgba(107 ,114 ,128, 0.5);
    --shadow-3x: 0px 0px 6px rgba(107 ,114 ,128, 0.6);
  
    --shadow-focus: 0px 0px 6px rgba(32, 211, 238,0.5);
    --shadow-error: 0px 0px 6px rgba(231, 53, 60,0.5);

    --xs:3px;
    --s:6px;
    --m:9px;
    --l:12px;
    --x:15px;
    --2x:18px;
    --3x:21px;
    --4x:24px;
    --5x:27px;
    --auto:auto; 

    --font-xs:  10px;
    --font-s:  12px;
    --font-m:  13px;
    --font-base:14px;
    --font-l:  16px;
    --font-x:  18px;
    --font-2x: 20px;
    --font-3x: 22px;
    --font-4x: 24px;
    --font-5x: 26px;

    --svg-height: 30px;
}

.font-bold {
    font-family: var(--font-bold);
    font-weight: bold;
}

.text-xs   {font-size: var(--font-xs);}    
.text-s   {font-size: var(--font-s);}    
.text-base {font-size: var(--font-base);}  
.text-l   {font-size: var(--font-l);}    
.text-x   {font-size: var(--font-x);}    
.text-2x  {font-size: var(--font-2x);}   
.text-3x  {font-size: var(--font-3x);}   
.text-4x  {font-size: var(--font-4x);}   
.text-5x  {font-size: var(--font-5x);}   

.rounded-xs   {border-radius: var(--xs);}   
.rounded-s   {border-radius: var(--s);}   
.rounded-m   {border-radius: var(--m);}   
.rounded-l   {border-radius: var(--l);}   
.rounded-x   {border-radius: var(--x);}   
.rounded-2x  {border-radius: var(--2x);}  
.rounded-3x  {border-radius: var(--3x);}  
.rounded-4x  {border-radius: var(--4x);}  
.rounded-5x  {border-radius: var(--5x);}  
.rounded-full {border-radius: 100px;}

.shadow-s  {box-shadow: var(--shadow-s);}   
.shadow-m  {box-shadow: var(--shadow-m);}   
.shadow-l  {box-shadow: var(--shadow-l);}   
.shadow-x  {box-shadow: var(--shadow-x);}   
.shadow-2x {box-shadow: var(--shadow-2x);}  
.shadow-3x {box-shadow: var(--shadow-3x);}  

.gap-xs  {gap: var(--xs);}   
.gap-s  {gap: var(--s);}   
.gap-m  {gap: var(--m);}   
.gap-l  {gap: var(--l);}   
.gap-x  {gap: var(--x);}   
.gap-2x {gap: var(--2x);}  
.gap-3x {gap: var(--3x);}  
.gap-4x {gap: var(--4x);}  
.gap-5x {gap: var(--5x);}  

.p-xs  {padding: var(--xs);}   .px-xs  {padding-inline: var(--xs);}   .py-xs  {padding-block: var(--xs);}   
.p-s  {padding: var(--s);}   .px-s  {padding-inline: var(--s);}   .py-s  {padding-block: var(--s);}   
.p-m  {padding: var(--m);}   .px-m  {padding-inline: var(--m);}   .py-m  {padding-block: var(--m);}   
.p-l  {padding: var(--l);}   .px-l  {padding-inline: var(--l);}   .py-l  {padding-block: var(--l);}   
.p-x  {padding: var(--x);}   .px-x  {padding-inline: var(--x);}   .py-x  {padding-block: var(--x);}   
.p-2x {padding: var(--2x);}  .px-2x {padding-inline: var(--2x);}  .py-2x {padding-block: var(--2x);}  
.p-3x {padding: var(--3x);}  .px-3x {padding-inline: var(--3x);}  .py-3x {padding-block: var(--3x);}  
.p-4x {padding: var(--4x);}  .px-4x {padding-inline: var(--4x);}  .py-4x {padding-block: var(--4x);}  
.p-5x {padding: var(--5x);}  .px-5x {padding-inline: var(--5x);}  .py-5x {padding-block: var(--5x);}  

.m-xs   {margin: var(--xs);}    .mx-xs   {margin-inline: var(--xs);}    .my-xs   {margin-block: var(--xs);}    
.m-s   {margin: var(--s);}    .mx-s   {margin-inline: var(--s);}    .my-s   {margin-block: var(--s);}    
.m-m   {margin: var(--m);}    .mx-m   {margin-inline: var(--m);}    .my-m   {margin-block: var(--m);}    
.m-l   {margin: var(--l);}    .mx-l   {margin-inline: var(--l);}    .my-l   {margin-block: var(--l);}    
.m-x   {margin: var(--x);}    .mx-x   {margin-inline: var(--x);}    .my-x   {margin-block: var(--x);}    
.m-2x  {margin: var(--2x);}   .mx-2x  {margin-inline: var(--2x);}   .my-2x  {margin-block: var(--2x);}   
.m-3x  {margin: var(--3x);}   .mx-3x  {margin-inline: var(--3x);}   .my-3x  {margin-block: var(--3x);}   
.m-4x  {margin: var(--4x);}   .mx-4x  {margin-inline: var(--4x);}   .my-4x  {margin-block: var(--4x);}   
.m-5x  {margin: var(--5x);}   .mx-5x  {margin-inline: var(--5x);}   .my-5x  {margin-block: var(--5x);}   
.m-auto {margin: var(--auto);}  .mx-auto {margin-inline: var(--auto);}  .my-auto {margin-block: var(--auto);}  

.mr-auto  {margin-right: auto;}   .ml-auto {margin-left: auto;}  .mt-auto {margin-top: auto;}  .mb-auto {margin-bottom: auto;}
/*  */
.hide-scroller::-webkit-scrollbar{display: none;}
.scroller::-webkit-scrollbar {height: 4px;width: 4px;}
.scroller::-webkit-scrollbar-track {background-color: #e4e4e4;border-radius: 100px;margin: 10px;}
.scroller::-webkit-scrollbar-thumb {border-radius: 6px;background-color: #3f3c4daa;box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);}
.scroller::-webkit-scrollbar-track {background-color: #e4e4e4;}

.flex-grow {flex-grow: 1;}
.row{display:flex; flex-direction: row;}
.row-center{display:flex; flex-direction: row;align-items: center;}
.col{display:flex; flex-direction: column;}
.col-center{display:flex; flex-direction: column;align-items: center;}
.wrap{display: flex; flex-wrap: wrap;}
.overflow-auto{overflow: auto;}
.overflow-hidden{overflow: hidden;}
.h-screen{height: 100vh;}
.w-screen{width: 100vw;}    
.w-fill{width: 100%;}
.h-fill{height: 100%;}
.min-w-max{min-width: max-content;} 

.fixed{position: fixed;} .absolute{position: absolute;} .relative{position: relative;} .sticky {position: -webkit-sticky;position: sticky;} .inset-0{inset: 0;} .right-0{right: 0;} .left-0{left: 0;} .top-0{top: 0;} .bottom-0{bottom: 0;}   
.z-10{z-index: 301;} .z-20{z-index: 302;} .z-30{z-index: 303;} .z-40{z-index: 304;} .z-50{z-index: 305;}  

.items-center {align-items: center;}
.items-start {align-items: flex-start;}
.items-end {align-items: flex-end;}
.justify-center {justify-content: center;}
.justify-start {justify-content: flex-start;}
.justify-end {justify-content: flex-end;}
.justify-between {justify-content: space-between;}
.justify-around {justify-content: space-around;}
.justify-evenly {justify-content: space-evenly;}
.self-start {align-self: flex-start;}
.self-center {align-self: center;}  

.col-span-full{grid-column: 1 / -1;}    

.border-gray{border: solid 1px #D1D5DB ;}
.border-cayn{border: solid 1px rgb(32, 211, 238) }
.border-red{border: solid 1px rgb(252, 165, 165) }  

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;} 

.pointer{cursor: pointer;}
.cursor-default{cursor: default;}
.cursor-cursor{cursor: w-resize;}   