.input[type="number"],.input[type="text"],.input[type="password"] {
  font-family: var(--font-bold);
  padding: var(--sm) var(--md);
  outline: none;
  border: none;
  color: var(--shark);
  font-weight: bold;
  border-radius: var(--md);
  box-shadow:var(--shadow-lg);
  background-color: var(--prim);
}

.input::placeholder {
  color: var(--goat);
  letter-spacing: 1px;
  font-size: 14px;
  z-index: 2;
  font-weight: bold;
  position: relative;
}
.input[type="number"]:focus,.input[type="text"]:focus{box-shadow: var(--shadow-focus);}

.button{
  background-color: var(--dragon);
  color: var(--white);
  border-radius: var(--md);
  padding: var(--sm) var(--md);
  font-weight: bold;
  font-family: var(--font-bold);
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: var(--shadow-lg);
}

.toggle-theme-button {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 333;
  padding: 5px;
  margin: -3px;
  background-color: var(--throne);
  border-radius: 0 0 10px 0 ;
  box-shadow: var(--shadow-lg);
  cursor: pointer;
}