@import url('./css/root.css');
@import url('./css/containers.css');
@import url('./css/elements.css');
@import url('./css/index.css');

@font-face {font-family: "'BoutrosMBCDinkum Medium'";src: url('../fonts/light.ttf');}
@font-face {font-family: "'GE Dinkum Medium'";src: url("../fonts/bold.ttf");}
:root{
    --font-light:"'GE Dinkum Medium'";
    --font-bold:"'BoutrosMBCDinkum Medium'";
}

a{
    text-decoration: none;
    color: var(--owl);
}