.input[type="number"],.input[type="text"],.input[type="password"] {
  font-family: var(--bold);
  padding: var(--sm) var(--md);
  outline: none;
  border: none;
  color: var(--shark);
  font-weight: bold;
  border-radius: var(--md);
  box-shadow:var(--shadow-lg);
  background-color: var(--prim);
}

.input::placeholder {
  color: var(--goat);
  letter-spacing: 1px;
  font-size: 14px;
  z-index: 2;
  font-weight: bold;
  position: relative;
}
.input[type="number"]:focus,.input[type="text"]:focus{box-shadow: var(--shadow-focus);}

.button{
  background-color: var(--dragon);
  color: var(--white);
  border-radius: var(--md);
  padding: var(--sm) var(--md);
  font-weight: bold;
  font-family: var(--bold);
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: var(--shadow-lg);
}

.toggle-theme-button {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 333;
  padding: 5px;
  margin: -3px;
  background-color: var(--throne);
  border-radius: 0 0 10px 0 ;
  box-shadow: var(--shadow-lg);
  cursor: pointer;
}


#refresher{
  width: 100px;
  margin-inline: auto;
  height: 100px;
  margin-top: -100px;
  position: fixed;
  left: 0;
  right: 0;
}

.refresher-svg {
  /* filter: drop-shadow( 0px 0px 15px #a5eb7877); */
  box-shadow:  0px 0px 20px #a5eb7877;
  border-radius: 50%;
  margin: 25px;
  fill: #000!important;
}

.pulling{
  transition: unset;
}
.reloading {
  opacity: 1;
  transition: all 300ms ease-out;
  margin-top: 0 !important;
  animation: reload 600ms linear infinite;
}
.disappearing{
  transition: all 0.3s ease-in-out;
  margin-top: -100px !important;
  opacity: 0;
}


@keyframes reload {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
